
/* ===== Header ===== */

header
{
    background-color: rgb(36, 36, 36);
    position: fixed;
    height: 35px;
    width: 100%;
    top: 0;
    padding-top: 0px;
    margin: 0px;
    border: 0px;
}

header h2
{
    text-align: right;
    margin: 8px;
    font-size: 17px;
}

span.red
{
    color: red;
}

span.green
{
    color: green;
}

/* ===== body ===== */

body
{
    padding: 0px;
    margin: 0px;
    border: 0px;
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}

#game-area
{
    position: fixed;
    top: 35px;
    width: calc(100% - 4px);
    height: calc(100% - 74px);
    margin: 0px;
}

#music
{
    position: absolute;
    top: 60px;
    right: 25px;
    z-index: 999;
    padding: 2px;
    border-radius: 5px;
    background-color: rgb(63, 63, 63)
}

#music img
{
    margin: 0px;
}

#info
{
    position: absolute;
    top: 60px;
    right: 80px;
    z-index: 999;
    padding: 2px;
    border-radius: 5px;
    background-color: rgb(63, 63, 63)
}

#info img
{
    margin: 0px;
}

.windowContainer
{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    z-index: 999;
    border-radius: 5px;
    background: repeating-linear-gradient(-55deg,rgb(22, 21, 21),rgb(22, 21, 21) 10px,rgb(14, 10, 10) 10px,rgb(14, 10, 10) 20px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.green-background
{
    background-color: green !important;
}

article h2
{
    color: green;
    margin: 0px;
    text-align: left;
    font-size: 22px;
}

article section
{
    color: rgb(145, 231, 16);
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

#infoContainer
{
    width: 450px;
    height: 330px;
    padding: 5px;
    padding-left: 8px;
}

#infoContainer article
{
    height: 270px;
    text-align: center;
    overflow-y: auto;
}

#infoContainer > button
{
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: 15px;
}

*.black
{
    width: 100px;
    height: 40px;
    font-weight: bold;
    color: green;
    background-color: black;
    border: 0px;
    border-radius: 5px;
    transition: all 210ms;
}

input:focus,  button:focus
{
    outline:none;
}

*.black:hover
{
    background-color: rgb(48, 48, 48);
}

/* ===== Footer ===== */

#year
{
    right: 20px;
}

#kaj
{
    left: 20px;
}

footer
{
    background-color: rgb(36, 36, 36);
    position: fixed;
    height: 35px;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

footer h3
{
    position: absolute;
    display: inline;
    font-size: 15px;
    top: -7px;
}