.game-hud
{
    background-color: rgb(36, 36, 36);
    border: 5px dotted black;
    border-radius: 15px;
    box-shadow: 5px 5px 3px rgb(22, 22, 22);
    font-size: 11px;
}

div.game-center
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

div.game-center > button
{
    position: absolute;
    right: 5px;
    top: 64px;
    z-index: 999;
}

canvas.game
{
    position: absolute;
    top: 50px;
    background-color: rgb(80, 80, 80);
    background-image: linear-gradient(transparent 50%, rgba(48, 48, 48, 0.5) 50%);
    background-size: 50px 50px;
}

/* HUD ELEMENTS */

div.hpContainer
{
    display: inline-block;
    height: 50px;
    width: 210px;
    position: relative;
    transform: rotate(90deg) translateX(130px) translateY(155px);
    padding: 4px;
    top: -60px;
    animation-name: hpAnimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

div.hpContainer > h1
{
    display: inline;
    position: absolute;
    top: 16px;
    margin: 0px;
    padding: 0px;
    transform: rotate(-90deg);
}

div.hpContainer > svg
{
    display: inline;
    position: absolute;
    left: 50px;
    top: 3px
}

div.windowContainer
{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    z-index: 999;
    border-radius: 5px;
    background: repeating-linear-gradient(-55deg,rgb(22, 21, 21),rgb(22, 21, 21) 10px,rgb(14, 10, 10) 10px,rgb(14, 10, 10) 20px);
}

.windowContainer form
{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.windowContainer form button
{
    display: block;
    margin: 10px;
}

div.scoreContainer
{
    position: absolute;
    left: 0;
    width: 788px;
    height: 40px;
    text-align: left;
    animation-name: scoreAnimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    padding-left: 12px;
}

div.scoreContainer > div
{
    margin-top: 8px;
    display: inline-block;
    width: 262px;
}

div.scoreContainer > div h1
{
    display: inline;
}

/* animation */

@keyframes scoreAnimation
{
    0% {top: -60px;}
    100% {top: -10px;}
}

@keyframes hpAnimation
{
    0% {right: 52px;}
    100% {right: 2px;}
}

@media screen and (min-width: 800px)
{
    div.scoreContainer > div
    {
        width: 195px;
        text-align: center;
    }

    div.game-center
    {
        top: 45%;
    }

    div.scoreContainer
    {
        width: 588px;
    }

    div.game-center
    {
        width: 600px;
        height: 412px;
    }

    canvas.game
    {
        width: 600px;
        height: 412px;
    }
}

@media screen and (min-width: 1000px) and (min-height: 750px)
{
    div.scoreContainer > div
    {
        width: 262px;
    }

    div.game-center
    {
        top: 50%;
    }

    div.scoreContainer
    {
        width: 788px;
    }

    div.game-center
    {
        width: 800px;
        height: 550px;
    }

    canvas.game
    {
        width: 800px;
        height: 500px;
    }
}

@media screen and (min-width: 1440px) and (min-height: 1000px)
{
    div.game-center
    {
        top: 50%
    }

    div.scoreContainer
    {
        width: 788px;
    }

    div.game-center
    {
        width: 1000px;
        height: 675px;
    }

    canvas.game
    {
        width: 1000px;
        height: 625px;
    }
}


