table
{
    color: green;
    font-weight: bold;
    width: 100%;
    border-collapse: collapse;
}

th
{
    font-size: large;
    height: 55px;
}

td
{
    text-align: center;
    height: 50px;
}

h1[id="title-tankodrom"]
{
    text-align:center;
    color: green;
    margin-top: 70px;
    text-shadow: 2px 2px 4px #000000;
}

#scoreboard
{
    width: 500px;
    height: 500px;
}

#clear
{
    position: absolute;
    bottom: 70px;
    width: 200px;
    left: 50%;
    margin-left: -100px
}

#back
{
    position: absolute;
    bottom: 20px;
    width: 200px;
    left: 50%;
    margin-left: -100px
}

.tableFixHead
{
    overflow-y: auto;
    height: calc(100% - 120px);
}

.tableFixHead table tbody tr:nth-child(even)
{
    background-color: rgba(0, 0, 0, 0.3);
}

.tableFixHead thead
{
    background-color: black;
    position: sticky;
    top: 0;
}

form.windowContainer
{
    text-align: center;
    height: 250px;
}

form.windowContainer label
{
    color: green;
    font-weight: bold;
    display: block;
    position: relative;
    right: 52px;
    margin-top: 30px;
}

form.windowContainer input
{
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

form.windowContainer input[type="text"]:hover
{
    background: black;
}

.red-bottom
{
    border-top: 2px red solid;
    border-bottom: 2px red solid;
}

.green-bottom
{
    border-top: 2px green solid;
    border-bottom: 2px green solid;
}

::-webkit-scrollbar 
{
  width: 10px;
}

::-webkit-scrollbar-thumb 
{
  background: green; 
}

::-webkit-scrollbar-track 
{
  box-shadow: inset 0 0 5px rgb(68, 68, 68); 
}

::-webkit-scrollbar-thumb:hover 
{
  background: rgb(0, 78, 0); 
}